/*
Theme Name; Wordpress Forest
Theme URI; http://blog.themeforest.net
Description; A sample wordpress theme for themeforest.net
version;4.0
Author;Drew Douglass
Author;URI: http://dev-tips.com
Tags;boring, dull, void of life;
*/

#wrap {
	width: 960px;
	margin: 0 auto;
}

#header{
	text-align: center;
}
.post_snippet{
	border: 2px solid #ccc;
	margin: 40px 0px;
	padding: 20px;
	-moz-border-radius: 10px 10px 10px 0px;
} 